body {
  background-color: #141414;
}

.MuiOutlinedInput-root:focus-within {
  border: 0.5px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right bottom, #aefb2a, #57ebde);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 0px;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 16px !important;
  color: #969696 !important;
  margin-top: 5px !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #ffffff !important;
}
